<!DOCTYPE html>

<html>

<head>
    <!-- com o SES tirar alignitems, display e flex direction
            align-items: center;
            display: flex;
            flex-direction: column;
      -->
    <!-- com o SES colocar no span{} display: block-->
    <style>
        .container {
            width: 800px;
            font-family: Arial, Helvetica, sans-serif;
            align-items: center;
            display: flex;
            flex-direction: column;

        }

        span {
            margin: 10px 0;
            display: block;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="" alt="logo">
        <span>
            Oi, {{name}}
        </span>

        <br>
        <span>Para recuperar sua senha, clique no link: <a href={{link}}> AQUI </a></span>
        <span>O link tem validade de 3 horas.</span>
        <span>Caso voce nao tenha solicitado a alteração de senha, ignore este e-mail.</span>

        <strong>Obrigado!</strong>


    </div>
</body>

</html>